/Prueba33/nbproject/private/
/Proyecto_Fraccionario/nbproject/private/
/Proyecto_Fraccionario/build/
/Proyecto_Geometria/nbproject/private/
/Proyecto_Geometria/build/
/Proyecto_cartas/nbproject/private/
/Proyecto_cartas/build/