/Prueba33/nbproject/private/
/Proyecto_Fraccionario/nbproject/private/
/Proyecto_Fraccionario/build/
/Proyecto_Geometria/nbproject/private/
/Proyecto_Geometria/build/
/Proyecto_cartas/nbproject/private/
/Proyecto_cartas/build/
/Proyecto_Arreglos/nbproject/private/
/Proyecto_Arreglos/build/
/ProyectoNotas/nbproject/private/
/ProyectoNotas/build/
/Proyecto_busqueda_anchura/nbproject/private/
/Proyecto_busqueda_anchura/build/
/Cube3D/nbproject/private/
/Cube3D/build/
/Cube3D/dist/
/ejemplo2/nbproject/private/
/ejemplo2/build/
/Ventanas/nbproject/private/
/Ventanas/build/
/cuadro/nbproject/private/
/cuadro/build/